<div class="container">
  <div class="well todos">
    {{> add}}
    <ul class="list-group todos_list">
      {{#each todos}}
        {{> todo this}}
      {{/each}}
    </ul>
    {{> footer}}
  </div>
</div>
