.navbar-default {
  background-image: none;
  background-color: #e74c3c;
  border-color: #c0392b; }
  .navbar-default .navbar-brand {
    color: #ecf0f1;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    font-size: 25px; }
    .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
      cursor: default;
      color: #ecf0f1; }

body {
  padding: 50px;
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #2D3143; }
  body a {
    color: #00B7FF;
    text-emphasis: none;
    cursor: pointer; }
    body a:hover {
      text-decoration: underline; }
  body ul {
    list-style-type: none; }
    body ul .checked {
      text-decoration: line-through; }
  body .welcome {
    max-width: 330px;
    padding: 30px;
    margin-top: 30px;
    border-radius: 10px; }
  body .todos {
    margin-top: 20px; }
  body .footer div {
    float: left;
    padding: 0 10px; }
  body .hide {
    display: none; }
  body .form-signin {
    background-color: white;
    max-width: 330px;
    padding: 30px;
    margin-top: 30px;
    border-radius: 10px; }
    body .form-signin .form-control {
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px;
      font-size: 16px; }
      body .form-signin .form-control:focus {
        z-index: 2; }
    body .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0; }
    body .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0; }
